### Universidad Nacional de Lujan - Bases de Datos Masivas (11088) - Cavasin Nicolas #143501
# TP05-01 - Árboles de decisión

### Ejercicio 5:
Un Banco de Portugal realizó una campaña de marketing en busca de clientes de plazos fijos basada en llamados telefónicos. Se provee el dataset real *(bank-full.csv)* con más 45000 instancias y el detalle *(bank-names.txt)* de los datos registrados de cada una de las personas contactadas por la entidad bancaria:
- Realice las tareas necesarias para poder procesar el dataset en Scikit-Learn.
- Luego, genere el árbol de decisión, y optimice los resultados, con el objetivo de explicar cuáles son las características más importantes que permiten identificar a una persona que accederá o no al plazo fijo. Documente los resultados.

In [1]:
!rm bank-full.csv
!rm bank-names.txt
!wget https://raw.githubusercontent.com/bdm-unlu/2020/master/TPs/TP05/TP0501/bank-full.csv
!wget https://raw.githubusercontent.com/bdm-unlu/2020/master/TPs/TP05/TP0501/bank-names.txt

--2020-11-11 18:03:07--  https://raw.githubusercontent.com/bdm-unlu/2020/master/TPs/TP05/TP0501/bank-full.csv
Loaded CA certificate &#39;/etc/ssl/certs/ca-certificates.crt&#39;
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.216.133
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.216.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4610348 (4.4M) [text/plain]
Saving to: &#39;bank-full.csv&#39;

bank-full.csv       100%[===================&gt;]   4.40M  2.48MB/s    in 1.8s

2020-11-11 18:03:09 (2.48 MB/s) - &#39;bank-full.csv&#39; saved [4610348/4610348]

--2020-11-11 18:03:10--  https://raw.githubusercontent.com/bdm-unlu/2020/master/TPs/TP05/TP0501/bank-names.txt
Loaded CA certificate &#39;/etc/ssl/certs/ca-certificates.crt&#39;
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.216.133
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.216.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3794 (3.7K) [text/plain]
Saving to: &#39;bank-names.txt&#39;

bank-names.txt      100%[===================&gt;]   3.71K  --.-KB/s    in 0.001s

2020-11-11 18:03:10 (6.68 MB/s) - &#39;bank-names.txt&#39; saved [3794/3794]

In [2]:
import pandas as pd

banco = pd.read_csv("bank-full.csv")

print(type(banco))
print(f'Cantidad de tuplas: {banco.shape[0]}')
print(f'Cantidad de columnas: {banco.shape[1]}')

banco.head()

&lt;class &#39;pandas.core.frame.DataFrame&#39;&gt;
Cantidad de tuplas: 45211
Cantidad de columnas: 1

  age;&quot;job&quot;;&quot;marital&quot;;&quot;education&quot;;&quot;default&quot;;&quot;balance&quot;;&quot;housing&quot;;&quot;loan&quot;;&quot;contact&quot;;&quot;day&quot;;&quot;month&quot;;&quot;duration&quot;;&quot;campaign&quot;;&quot;pdays&quot;;&quot;previous&quot;;&quot;poutcome&quot;;&quot;y&quot;
0  58;&quot;management&quot;;&quot;married&quot;;&quot;tertiary&quot;;&quot;no&quot;;2143...
1  44;&quot;technician&quot;;&quot;single&quot;;&quot;secondary&quot;;&quot;no&quot;;29;&quot;...
2  33;&quot;entrepreneur&quot;;&quot;married&quot;;&quot;secondary&quot;;&quot;no&quot;;2...
3  47;&quot;blue-collar&quot;;&quot;married&quot;;&quot;unknown&quot;;&quot;no&quot;;1506...
4  33;&quot;unknown&quot;;&quot;single&quot;;&quot;unknown&quot;;&quot;no&quot;;1;&quot;no&quot;;&quot;n...

In [3]:
# Leo el archivo txt
with open('bank-names.txt') as metadata:
    print(metadata.read())

Citation Request:
  This dataset is public available for research. The details are described in [Moro et al., 2011].
  Please include this citation if you plan to use this database:

  [Moro et al., 2011] S. Moro, R. Laureano and P. Cortez. Using Data Mining for Bank Direct Marketing: An Application of the CRISP-DM Methodology.
  In P. Novais et al. (Eds.), Proceedings of the European Simulation and Modelling Conference - ESM&#39;2011, pp. 117-121, Guimarães, Portugal, October, 2011. EUROSIS.

  Available at: [pdf] http://hdl.handle.net/1822/14838
                [bib] http://www3.dsi.uminho.pt/pcortez/bib/2011-esm-1.txt

1. Title: Bank Marketing

2. Sources
   Created by: Paulo Cortez (Univ. Minho) and Sérgio Moro (ISCTE-IUL) @ 2012

3. Past Usage:

  The full dataset was described and analyzed in:

  S. Moro, R. Laureano and P. Cortez. Using Data Mining for Bank Direct Marketing: An Application of the CRISP-DM Methodology.
  In P. Novais et al. (Eds.), Proceedings of the European Simulation and Modelling Conference - ESM&#39;2011, pp. 117-121, Guimarães,
  Portugal, October, 2011. EUROSIS.

4. Relevant Information:

   The data is related with direct marketing campaigns of a Portuguese banking institution.
   The marketing campaigns were based on phone calls. Often, more than one contact to the same client was required,
   in order to access if the product (bank term deposit) would be (or not) subscribed.

   There are two datasets:
      1) bank-full.csv with all examples, ordered by date (from May 2008 to November 2010).
      2) bank.csv with 10% of the examples (4521), randomly selected from bank-full.csv.
   The smallest dataset is provided to test more computationally demanding machine learning algorithms (e.g. SVM).

   The classification goal is to predict if the client will subscribe a term deposit (variable y).

5. Number of Instances: 45211 for bank-full.csv (4521 for bank.csv)

6. Number of Attributes: 16 + output attribute.

7. Attribute information:

   For more information, read [Moro et al., 2011].

   Input variables:
   # bank client data:
   1 - age (numeric)
   2 - job : type of job (categorical: &quot;admin.&quot;,&quot;unknown&quot;,&quot;unemployed&quot;,&quot;management&quot;,&quot;housemaid&quot;,&quot;entrepreneur&quot;,&quot;student&quot;,
                                       &quot;blue-collar&quot;,&quot;self-employed&quot;,&quot;retired&quot;,&quot;technician&quot;,&quot;services&quot;)
   3 - marital : marital status (categorical: &quot;married&quot;,&quot;divorced&quot;,&quot;single&quot;; note: &quot;divorced&quot; means divorced or widowed)
   4 - education (categorical: &quot;unknown&quot;,&quot;secondary&quot;,&quot;primary&quot;,&quot;tertiary&quot;)
   5 - default: has credit in default? (binary: &quot;yes&quot;,&quot;no&quot;)
   6 - balance: average yearly balance, in euros (numeric)
   7 - housing: has housing loan? (binary: &quot;yes&quot;,&quot;no&quot;)
   8 - loan: has personal loan? (binary: &quot;yes&quot;,&quot;no&quot;)
   # related with the last contact of the current campaign:
   9 - contact: contact communication type (categorical: &quot;unknown&quot;,&quot;telephone&quot;,&quot;cellular&quot;)
  10 - day: last contact day of the month (numeric)
  11 - month: last contact month of year (categorical: &quot;jan&quot;, &quot;feb&quot;, &quot;mar&quot;, ..., &quot;nov&quot;, &quot;dec&quot;)
  12 - duration: last contact duration, in seconds (numeric)
   # other attributes:
  13 - campaign: number of contacts performed during this campaign and for this client (numeric, includes last contact)
  14 - pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric, -1 means client was not previously contacted)
  15 - previous: number of contacts performed before this campaign and for this client (numeric)
  16 - poutcome: outcome of the previous marketing campaign (categorical: &quot;unknown&quot;,&quot;other&quot;,&quot;failure&quot;,&quot;success&quot;)

  Output variable (desired target):
  17 - y - has the client subscribed a term deposit? (binary: &quot;yes&quot;,&quot;no&quot;)

8. Missing Attribute Values: None

Se puede observar que el dataset se encuentra almacenado únicamente en el archivo *bank-full.csv* mientras que *bank-names.txt* funciona como una pseudo-metadata que describe: quiénes son sus creadores, políticas de uso, con qué fin se utilizó, qué es lo que representa cada columna e indica que **no posee datos faltantes**.


Al cargar el dataset en memoria usando un *DataFrame*, presenta un formato extraño que posee una única columna en vez de 17 tal como explica el archivo *bank-names.txt*. Lo que hay que modificar es la manera en que se intenta leer a definiendo el parámetro ``sep=";"``. 

A continuación se repite la lectura pero esta vez de manera correcta:

In [4]:
# Cambio el tipo de separador con el que se interpreta el archivo
banco = pd.read_csv("bank-full.csv", sep=";")

print(type(banco))
print(f'Cantidad de tuplas: {banco.shape[0]}')
print(f'Cantidad de columnas: {banco.shape[1]}')

banco.head()

&lt;class &#39;pandas.core.frame.DataFrame&#39;&gt;
Cantidad de tuplas: 45211
Cantidad de columnas: 17

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

Se puede observar que todas las columnas deben ser transformadas para poder ser utilizadas en la creación del árbol de clasificación. Serán separadas las numéricas de las de texto y se hará uso de un *Pipeline* combinado con el método *ColumnTransformer* para simplificar y facilitar el procesamiento (ver referencias al final).

In [5]:
from sklearn.pipeline import Pipeline

# Defino el target
target_name = 'y'
#target = banco.pop(target_name)

# Defino los nombres de las features
feature_names = banco.columns

# Inicio listas de cada tipo de feature
columnas_numericas = []
columnas_texto = []

# Separo columnas numericas de columnas de texto
for col in banco.columns:
    if banco[col].dtype == 'int64' or banco[col].dtype == 'float':
        columnas_numericas.append(col)
    else:
        columnas_texto.append(col)

# Muestro cada una
print(f'Features numericas a transformar: {columnas_numericas}')

print(f'Features de texto a transformar: {columnas_texto}')

banco_numericas = banco[columnas_numericas]
banco_texto = banco[columnas_texto]

Features numericas a transformar: [&#39;age&#39;, &#39;balance&#39;, &#39;day&#39;, &#39;duration&#39;, &#39;campaign&#39;, &#39;pdays&#39;, &#39;previous&#39;]
Features de texto a transformar: [&#39;job&#39;, &#39;marital&#39;, &#39;education&#39;, &#39;default&#39;, &#39;housing&#39;, &#39;loan&#39;, &#39;contact&#39;, &#39;month&#39;, &#39;poutcome&#39;, &#39;y&#39;]

Se eliminó el target (columna '*y*') del dataframe original y a partir de este se han creado dos nuevos dataframes con el fin de poder trabajar con ellos de manera independiente:
- *banco_numericas* contiene todas las columnas numericas del dataset.
- *banco_texto* contiene todas las columnas de texto.

A continuación, se muestran los primeros valores de ambos y se procede a realizar las transformaciones necesarias:

In [12]:
# Importo to lo necesario para hacer las transformacion
# from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
import numpy as np

# Instancio el ColumnTransformer para transformar todas las columnas 
# de texto usando el método OneHotEncoder (devuelve un array)
ct = ColumnTransformer([('ohe', OneHotEncoder(sparse=False), columnas_texto)])
banco_texto = pd.DataFrame(ct.fit_transform(banco.copy()))

print(type(banco_texto))
banco_texto.head()

&lt;class &#39;pandas.core.frame.DataFrame&#39;&gt;

,0,1,2,3,4,5,6,7,8,9,...,36,37,38,39,40,41,42,43,44,45
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0

In [ ]:
# Hago lo mismo pero con las variables numericas para escalarlas
# usando el método StandardEncoder para escalar los valores numericos
ct = ColumnTransformer([('se', StandardScaler(), columnas_numericas)], remainder='passthrough')
columnas_numericas_transf = ct.fit_transform(banco)
print(columnas_texto_transf.dtype)

combinados = pd.DataFrame(columnas_texto_transf)
combinados.head()

## Referencias:
- [Binning][0] con pandas.
- Uso de un [Pipeline][1] combinado con el método [ColumnTranformer()][2].

[0]:https://www.analyticsvidhya.com/blog/2020/09/pandas-speed-up-preprocessing/
[1]: https://scikit-learn.org/stable/auto_examples/compose/plot_column_transformer_mixed_types.html
[2]:https://scikit-learn.org/stable/modules/generated/sklearn.compose.ColumnTransformer.html#sklearn.compose.ColumnTransformer